<div data-postid = "{{id}}" id="post" class="card text-center my-3">
  <div class="card-header">
    <a href="/posts/{{id}}" class="postTitle">
    <h5 class="card-title">{{title}}</h5>
    </a>
  </div>
  <div class="card-body">
    <p class="card-text">{{content}}</p>
    
  </div>
  <div class="card-footer text-body-secondary">
    <p class="card-text"> Posted by {{user.username}} on {{format_date createdAt}}</p>
  </div>
</div>